
<p>Welcome</p>
<table id="players">
    <tr>
        <th>Player</th>
        <th>Total experience</th>
    </tr>
    {{#each player}} 
    <tr>
        <td>{{PlayerName}}</td> 
        <td>{{Stats.Total}}</td>
    </tr>
    {{/each}}
</table>


